.PageNotFound {
  margin: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PageNotFound>svg {
  font-size: 7vmax;
  color: tomato;
}

.PageNotFound>p {
  font-size: 2vmax;
  text-shadow: 1px 1px 2px white;
}

.PageNotFound>a {
  background-color: #EAB543;
  color: black;
  border: none;
  padding: 1vmax 3vmax;
  cursor: pointer;
  font: 400 1vmax "Roboto";
  text-decoration: none;
  margin: 2vmax;
}

@media screen and (max-width: 600px) {
  .PageNotFound>a {
    padding: 3vw 6vw;
    font: 400 4vw "Roboto";
    margin: 2vmax;
  }

  .PageNotFound>svg {
    font-size: 20vw;
  }

  .PageNotFound>p {
    margin: 2vmax;
    font-size: 5vw;
  }
}